.row_details{
  .heading_media{
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
    margin: 20px 0 20px 0;
  }
  .author_media{
    font-size: 1.2em;
  }
  .body_media:first-letter{
    text-transform: uppercase;
  }
  .col_comments{
    margin-top: 20px;
    .title_comments_details{
      text-align: center;
    }
  }
}
