.media_comment{
  .heading_media{
    font-size: 1.2em;
    .div_name{
      text-transform: capitalize;
    }
    .div_email{
      font-size: 0.8em;
      margin-top: 20px;
    }
    .div_body:first-letter{
      text-transform: uppercase;
    }
  }
}
