.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 95px;
  width: 100%;
  background-color: #343A40;
  color: white;
  text-align: center;
  line-height: 50px;
  margin-top: 50px;
  .footer_link_about{
    color: #6c757d;
    text-decoration: none;
    &:hover{
      color: #CBCDD0;
      text-decoration: underline;
    }
  }
  .footer_about{
    padding-right: 5px; 
    .footer_link_contact{
      color: #6c757d;
      text-decoration: none;
      &:hover{
        color: #CBCDD0;
        text-decoration: underline;
      }
    }
  }
}
